/** @format */
@import url(../fonts/fonts.css);

// variables
:root {
  --primary-clr: #cfad65;
  --secondary-clr: #ffffff;
  --tertiary-clr: #20b038;
  --tertiary-clr-200: #60d66a;
  --primary-gradient: linear-gradient(0deg, #20b038 0%, #60d66a 100%);
  --black-clr: #202020;
  --text-clr: #4e4e4e;
  --head-clr: #202020;
  --white-clr: #efeae5;
  --default-black: #000000;
  --default-white: #ffffff;
  --faq-text: #182a40;
}

$fs-50: 3.125rem;
$fs-55: 3.4375rem;
$fs-85: 5.3125rem;
$fs-40: 2.5rem;
$fs-32: 2rem;
$fs-35: 35px;
$fs-30: 1.875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-36: 2.25rem;
$fs-26: 1.625rem;
$fs-20: 1.25rem;
$fs-24: 1.5rem;
$fs-22: 1.375rem;

// Globals styles
body {
  font-size: $fs-16;
  font-weight: 300;
  line-height: 1.2;
  background-color: var(--default-white);
  color: var(--head-clr);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "THICCCBOI";
  font-weight: 600;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;

  &:hover {
    color: #000;
  }
}

img,
picture,
svg,
video,
iframe {
  vertical-align: middle;
  max-width: 100%;
}

.container {
  max-width: 102.5rem;
}

.heading-primary {
  font-weight: 600;
  font-size: $fs-85;
  line-height: 106.3%;
  color: var(--default-white);
}

.heading-secondary-font {
  font-family: "Hellix";
}

.txt-primary {
  font-weight: 500;
  font-size: $fs-24;
  line-height: 35px;
  color: var(--default-white);
}

.default-btn {
  border-radius: 6px;
  font-weight: 600;
  font-size: $fs-22;
  line-height: 35px;
  padding: 18px 60px;
}

.card-btn {
  font-weight: 600;
  font-size: $fs-20;
  line-height: 35px;
  padding: 12px 35px;
}

.card-btn-primary {
  color: var(--default-white);
  background-color: var(--primary-clr);
}

.card-btn-secondary {
  color: var(--default-white);
  background-color: var(--head-clr);
}

.card-btn-tertiary {
  color: var(--default-white);
  background: var(--primary-gradient);
}

.primary-btn {
  background: var(--primary-clr);
  color: var(--default-white);
}

.seconday-btn {
  color: var(--head-clr);
  background: var(--default-white);
}

.head-sub {
  font-weight: 600;
  font-size: $fs-22;
  line-height: 35px;
  leading-trim: both;
  text-edge: cap;
  color: var(--primary-clr);
}

.heading-secondary {
  font-weight: 600;
  font-size: $fs-50;
  line-height: 106.3%;
  color: var(--head-clr);
}

.heading-tertiary {
  font-weight: 600;
  font-size: $fs-55;
  line-height: 139%;
  color: var(--head-clr);
}

.para {
  font-weight: 500;
  font-size: $fs-18;
  line-height: 35px;
  color: var(--text-clr);
}

.card-head {
  font-weight: 600;
  font-size: $fs-36;
  line-height: 106.3%;
  color: var(--head-clr);
}

.card-text {
  font-weight: 500;
  font-size: $fs-16;
  line-height: 150%;
  color: var(--text-clr);
}

section.car-slider {
  .car-slide {
  }
}

//! Css __ kaustav !//
section.tab-section {
  text-align: center;
  padding: 6.875rem 0;
  .btn_line {
    display: inline-block;
    border-bottom: 0.3125rem solid var(--primary-clr);
    font-size: 1.5rem;
    line-height: 1.625rem;
    font-weight: 600;
    padding: 0.3125rem 0;
    i {
      margin-left: 5px;
    }
  }
  .heading-secondary {
    margin-bottom: 3.125rem;
  }
  nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 5.4375rem;
    .nav-tabs {
      background: #ffffff;
      border-radius: 5.875rem;
      overflow: hidden;
      border: none;
      box-shadow: 0px 29px 110px #55555540;
      padding: 0.8125rem 0.625rem;
      button {
        font-family: "THICCCBOI";
        font-style: normal;
        font-size: 1.5rem;
        line-height: 1.625rem;
        font-weight: 600;
        border: none;
        padding: 1.375rem 2.0625rem;
        background-color: #fff;
        color: var(--black-clr);
        border-radius: 5.875rem;
        max-width: 14.5625rem;
        &.active {
          background-color: #cfad65;
          color: var(--default-white);
        }
      }
    }
  }
  .lchbx {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    margin-bottom: 4.5rem;
    img {
      width: 100%;
      height: 34.875rem;
      object-fit: cover;
    }
    .txt {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: 3.625rem;
      h3 {
        font-weight: 600;
        font-size: $fs-30;
        line-height: 2rem;
        color: #fff;
        margin-bottom: 0.75rem;
      }
      h4 {
        font-weight: 600;
        font-size: $fs-20;
        line-height: 1.3125rem;
        color: #ffffff;
        margin-bottom: 2rem;
        strong {
          font-weight: 700;
          color: var(--primary-clr);
        }
      }
      .br-50 {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        border: 0.0938rem solid #ffffff;
        align-items: center;
        justify-content: center;
        margin: auto;
        border-radius: 50%;

        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
  .tab-content {
    max-width: 94.6875rem;
    margin: 0 auto;
  }
}

//-----------------------------------------------------------------------------------------------//
// css by Ali on 10.04.2023
//-----------------------------------------------------------------------------------------------//

section.faq-section {
  padding: 6.125rem 0 7.875rem;
  h2 {
    margin-bottom: 4.125rem;
    font-size: $fs-55;
    line-height: 4.75rem;
    font-weight: 700;
    text-align: center;
  }
  .faq_box {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #fff;
      left: 0;
      bottom: 0;
      z-index: 1;
    }
    .faq_item {
      text-align: left;
      position: relative;
      width: 100%;
      margin-bottom: 0;
      overflow: hidden;
      background-color: #fff;
      border-radius: 0;

      .faq_hd {
        margin-bottom: 0.5625rem;
        cursor: pointer;
        position: relative;
        border-radius: 0.1875rem;
        overflow: hidden;
        border-bottom: 0.125rem solid var(--primary-clr);
        h3 {
          font-weight: 700;
          font-size: $fs-26;
          line-height: 1.875rem;
          color: var(--faq-text);
          position: relative;
          padding: 1.875rem 7.1875rem 1.875rem 2.5rem;
          font-family: "Nunito Sans", sans-serif;
          margin: 0;
        }
        &::before {
          font: var(--fa-font-solid);
          content: "\f067";
          position: absolute;
          display: inline-block;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          right: 2.5rem;
          bottom: 0;
          top: 0;
          margin: auto;
          z-index: 1;
          font-size: 1.875rem;
          width: 1.875rem;
          height: 1.875rem;
          color: var(--primary-clr);
        }
        &.closed::before {
          content: "\f068";
        }
      }
      .faq_cont {
        display: none;
        padding: 1.25rem 2.5rem 0rem 2.5rem;
        p {
          padding-bottom: 0.5rem;
          font-size: 1.125rem;
          color: #14212a;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
        }
      }
    }
  }
}

section.instagram-follow {
  padding: 3.75rem 0 8.125rem;
  background: var(--white-clr);
  text-align: center;
  h2 {
    margin-bottom: 4.125rem;
    font-size: $fs-55;
    line-height: 4.75rem;
    font-weight: 700;
  }
  .instagram-item {
    width: 100%;
    border-radius: 0.375rem;
    overflow: hidden;
    position: relative;
    a {
      display: block;
      img {
        width: 100%;
        height: 100%;
      }
      i {
        font-size: 3rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }
    }
  }
}

footer {
  .main-footer {
    background-size: cover !important;
    padding: 5.625rem 0 3.125rem;

    .ft-item-all {
      margin: 0 0 5rem;

      h2 {
        font-size: $fs-40;
        line-height: 2.875rem;
        color: var(--primary-clr);
        margin-bottom: 1rem;
        font-family: "THICCCBOI";
        font-weight: 700;
      }
      p {
        color: var(--secondary-clr);
        font-size: $fs-18;
        line-height: 2.1875rem;
        font-weight: 500;
        font-family: "THICCCBOI";
      }
      ul {
        margin: 0;
        padding: 0px;
        li {
          font-size: $fs-18;
          color: var(--secondary-clr);
          font-weight: 500;
          margin-bottom: 2.125rem;
          font-family: "THICCCBOI";
          a {
            color: var(--secondary-clr);
            transition: all 0.3s ease-in-out;
            &:hover {
              color: var(--primary-clr);
            }
          }
        }
      }
      &.contact-ft {
        ul {
          padding: 0 0 0 3.5rem;
          li {
            position: relative;
            margin-bottom: 1.6875rem;
            h6 {
              margin-bottom: 0.375rem;
              font-weight: 700;
            }
            p {
              padding: 0;
              margin: 0;
              line-height: 2.1875rem;
              &:last-child {
                margin: 0;
                padding: 0;
              }
              a {
                transition: all 0.3s ease-in-out;
                &:hover {
                  color: var(--primary-clr);
                }
              }
            }
            &::before {
              content: " ";
              position: absolute;
              left: -3.5rem;
              width: 2.125rem;
              height: 2.125rem;
            }
            &:nth-child(1)::before {
              background: url(../img--ali/phone-icon.png) no-repeat;
            }
            &:nth-child(2)::before {
              background: url(../img--ali/email-icon.png) no-repeat;
            }
            &:nth-child(3)::before {
              background: url(../img--ali/location-icon.png) no-repeat;
            }
          }
        }
      }
    }

    .border-tp {
      padding-top: 1.75rem;
      border-top: 1px solid rgba(255, 255, 255, 0.51);
      .ft-logo {
        max-width: 141px;
        a {
          display: block;
        }
      }

      .pay-method {
        max-width: 386px;
        img {
          width: 100%;
        }
      }

      .ft-social {
        display: flex;
        justify-content: center;
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          gap: 20px;
          li {
            a {
              width: 70px;
              height: 70px;
              border: 0.1563rem solid #fff;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.5rem;
              color: #fff;
              border-radius: 50%;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: var(--primary-clr);
                border: 0.1563rem solid var(--primary-clr);
              }
            }
          }
        }
      }
    }
  }
  .ft-copy {
    padding: 2.25rem 0;
    background: var(--black-clr);
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;
    }
    p {
      color: #fff;
      margin: 0;
      padding: 0;
    }
    .term-privacy {
      ul {
        display: flex;
        gap: 0.9375rem;
        li {
          a {
            color: #fff;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: var(--primary-clr);
            }
          }
        }
      }
    }
  }
}
